.question-list {
  background-color: var(--font-color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-lg);
  padding-top: 10px;
  max-width: 804px;
}

.question-list__title {
  padding: 30px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 24px;
}

.question-list__title-skeleton {
  margin: 30px 20px;
}

.question-list__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Найти причину прыгающего контента при открытии вопроса */
