.button {
  background-color: var(--font-color-white);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  gap: var(--gap-sm);
  padding: 12px 12px;
}

.primary {
  background-color: var(--purple-dark);
  border: none;
  color: var(--font-color-white);
}

.text {
  color: var(--purple-dark);
}

.filter {
  border: 1px solid color var(--border-color-gray);
  color: var(--font-color-sidebar);
}

.filterActive {
  border: 1px solid color var(--purple-dark);
}

.disabled {
  color: var(--border-color-gray);
}
