.question-list-sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  box-shadow: var(--box-shadow);
  background-color: var(--font-color-white);
  border-radius: var(--radius-lg);
  max-width: 394px;
  max-height: 943px;
}
