.wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: 48px;
  padding: 12px 24 12px 24px;
  border-radius: 68px;
  background-color: var(--font-color-white);
  border: 1px solid var(--border-input-color-gray);
  color: var(--font-color-input);
  line-height: var(--line-height-normal);
  font-weight: 400;
  outline: none;
}
