.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

.page {
  display: flex;
  line-height: var(--line-height-sm);
  cursor: pointer;
  transition: all 0.2s;
  padding: 6px;
  align-items: center;
  justify-content: center;
  background-color: var(----font-color-white);
  border: none;
  border-radius: 8px;
}

.page.active {
  background-color: var(--purple-dark);
  color: var(--font-color-white);
  font-weight: 600;
  font-size: var(--font-size-base);
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8px;
  height: 2px;
  color: var(--font-color-base);
  user-select: none;
}
