.question-card__meta {
  display: flex;
  justify-content: space-between;
}

.question-card__badges {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 24px;
}

.question-card__badge {
  background-color: #f8f8f8;
  padding: 6px 10px;
  border-radius: var(--radius-sm);
}

.question-card__menu-button {
  margin-right: 24px;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: var(--radius-sm);
  transition: all 0.2s;
}

.question-card__menu-button:hover {
  background-color: #eae9e9;
}
